repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: bash -c 'cd rust && cargo fmt -- --check'
        language: system
        pass_filenames: false
        always_run: true

